.floating-icons {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    z-index: 1;
    pointer-events: none; /* Ensure icons don't interfere with other elements */
}

.icon {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #eee;
    border-radius: 50%;
    animation: floatIcon 8s infinite ease-in-out;
}

.icon.left {
    left: 0;
    animation: floatLeft 8s infinite linear;
}

.icon.right {
    right: 0;
    animation: floatRight 8s infinite linear;
}

@keyframes floatLeft {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(-100vh);
    }
}

@keyframes floatRight {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(-100vh);
    }
}