:root {
  --background-color: #333;
  --text-color: #fff;
  --header-background: #444;
  --box-background: #555;
  --box-text-color: #fff;
  --h1-color: #ff5a01;
  --loc-color:#a7a687;
  --p-color:#756e6e;
  --projects-color:white;
}

.light-theme {
  --background-color: #f9f9f9;
  --text-color: #333;
  --header-background: #f9f9f9;
  --box-background: #e9e9e9;
  --box-text-color: #333;
  --h1-color: #ff6d1f;
  --loc-color:#a7a687;
  --p-color:#756e6e;
  --projects-color:black;


}

.dark-theme {
  --background-color: #040e25;
  --text-color: #fff;
  --header-background: #040e25;
  --box-background: #555;
  --box-text-color: #fff;
  --h1-color: #ff5a01;
  --loc-color:#eeedbe;
  --p-color: #d3fff5;
  --projects-color:rgb(0, 0, 0);


}

body {
  margin: 0;
  font-family: "Real Head Pro Demibold", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
}

.header {
  font-family: "Real Head Pro Demibold", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: var(--header-background);
}

.box {
  background-color: var(--box-background);
  color: var(--box-text-color);
}